*Disclaimer: Just like the [titanic kernel](https://www.kaggle.com/tarunpaparaju/how-top-lb-got-their-score-use-titanic-to-learn), the purpose of this kernel is not to let everyone get the perfect score, but to let everyone know how some participants got their perfect scores, so you can focus on learning ML rather than wondering how you can end up at the top of the LB.*

I've checked the [origin](https://www.figure-eight.com/data-for-everyone/) of the dataset (look for 'Disasters on social media') provided in the [overview page](https://www.kaggle.com/c/nlp-getting-started/overview) and found the dataset that holds ground truth for the test set.

If I can discover this so easily, I am sure it's just a matter of time before someone else does the same.

My point is, **ignore the LB** and just focus on learning from all the great kernels that are being shared.

In [1]:
import pandas as pd

In [2]:
test_df = pd.read_csv('/kaggle/input/nlp-getting-started/test.csv')
gt_df = pd.read_csv("../input/disasters-on-social-media/socialmedia-disaster-tweets-DFE.csv")

In [3]:
gt_df = gt_df[['choose_one', 'text']]
gt_df['target'] = (gt_df['choose_one']=='Relevant').astype(int)
gt_df['id'] = gt_df.index
gt_df

,choose_one,text,target,id
0,Relevant,Just happened a terrible car crash,1,0
1,Relevant,Our Deeds are the Reason of this #earthquake M...,1,1
2,Relevant,"Heard about #earthquake is different cities, s...",1,2
3,Relevant,"there is a forest fire at spot pond, geese are...",1,3
4,Relevant,Forest fire near La Ronge Sask. Canada,1,4
...,...,...,...,...
10871,Relevant,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1,10871
10872,Relevant,Police investigating after an e-bike collided ...,1,10872
10873,Relevant,The Latest: More Homes Razed by Northern Calif...,1,10873
10874,Relevant,MEG issues Hazardous Weather Outlook (HWO) htt...,1,10874
10875,Relevant,#CityofCalgary has activated its Municipal Eme...,1,10875

In [4]:
merged_df = pd.merge(test_df, gt_df, on='id')
merged_df

,id,keyword,location,text_x,choose_one,text_y,target
0,0,NaN,NaN,Just happened a terrible car crash,Relevant,Just happened a terrible car crash,1
1,2,NaN,NaN,"Heard about #earthquake is different cities, s...",Relevant,"Heard about #earthquake is different cities, s...",1
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are...",Relevant,"there is a forest fire at spot pond, geese are...",1
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires,Relevant,Apocalypse lighting. #Spokane #wildfires,1
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan,Relevant,Typhoon Soudelor kills 28 in China and Taiwan,1
...,...,...,...,...,...,...,...
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES Â‰Ã›Ã’ SAFETY FASTE...,Not Relevant,EARTHQUAKE SAFETY LOS ANGELES â€°Ã›Ã’ SAFETY FASTE...,0
3259,10865,NaN,NaN,Storm in RI worse than last hurricane. My city...,Relevant,Storm in RI worse than last hurricane. My city...,1
3260,10868,NaN,NaN,Green Line derailment in Chicago http://t.co/U...,Relevant,Green Line derailment in Chicago http://t.co/U...,1
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook (HWO) htt...,Relevant,MEG issues Hazardous Weather Outlook (HWO) htt...,1
3262,10875,NaN,NaN,#CityofCalgary has activated its Municipal Eme...,Relevant,#CityofCalgary has activated its Municipal Eme...,1

In [5]:
subm_df = merged_df[['id', 'target']]
subm_df

         id  target
0         0       1
1         2       1
2         3       1
3         9       1
4        11       1
...     ...     ...
3258  10861       0
3259  10865       1
3260  10868       1
3261  10874       1
3262  10875       1

[3263 rows x 2 columns]

In [6]:
subm_df.to_csv('submission.csv', index=False) # The holy grail of a perfect ML model prediction

Speaking of real disasters eh?